.linethrough
{
    text-decoration-line: line-through;
}

.font-bold
{
    font-weight: 900;
}

.bg-color
{
    background-color: rgb(243, 205, 108);
}

.font-style
{
    font-family: Arial, Helvetica, sans-serif;
}
